<h1> Activity Information</h1>

<h2> Add an Activity</h2>
<form class = "create-activity-form">
	<div class = "form-group"</div>
		<label for = "activityType">Activity</label>
		<select id = "activityType">
    		<option value="" disabled selected>Select an activity</option>
    		<option value="running">Running</option>
    		<option value="swimming">Swimming</option>
    		<option value = "cycling">Cycling</option>
    		<option value = "aerobic">Aerobic</option>
    		<option value = "lifting">Lifting</option>
		</select>

	<label for = "speed">Speed</label>
		<input type = "text" id = "speed" name = "speed">

		<label for = "units">Units</label>
		<select id = "units">
    		<option value="" disabled selected>Select a units</option>
    		<option value="miles/hour">Miles/Hour</option>
    		<option value="kilometers/hour">Kilometers/Hour</option>
    		<option value = "yards/minute">yards/minute</option>
    		<option value = "meters/minute">meters/minute</option>
    		<option value ="na">N/A</option>
		</select>
	</div>
	<button type = "submit">submit</button>
<form>



